@model IEnumerable<_145213.kdramasApp.Models.Network>

@{
    ViewData["Title"] = "Index";
}

<h1>Networks</h1>
@*@ViewBag.CzyPusta*@

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Country
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th>
                First broadcast
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Language)
            </th>
            @*<th>
                Released KDramas
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OfficialName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Residence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Broadcast)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language)
            </td>
            @*<td>
                @foreach (var it in item.KDramas)
                {

                    <p>dfgdf</p>
                }

            </td>*@
                    
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
